.navbar {
    background-color: #FFFFFF;
}


body {
    font-family: "Antonio", sans-serif;
    overflow-x:hidden;
}

h1,
h2,
h3 {
    font-family: "Antonio", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#0a1d41, #392b7e);
    padding: 20px 0;
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
  background-color: #ffffff; }

a,
a:hover {
  color: inherit;
  text-decoration: none; }


.container {
    position: relative;
}

/* Bottom right text */
.text-block {
   position: absolute;
   /* Position the background text */
   bottom: 0;
   /* At the bottom. Use top:0 to append it to the top */
   background: rgb(0, 0, 0);
   /* Fallback color */
   background: rgba(0, 0, 0, 0.5);
   /* Black background with 0.5 opacity */
   color: #f1f1f1;
   /* Grey text */
   width: 100%;
   /* Full width */
   padding: 50px;
   /* Some padding */
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

#loginModal .modal-header {
  background-color: #392b7e;
  color: white; 
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #392b7e;
}